@font-face {
    font-family: 'Roboto';
    src:
    	 url('Roboto-Light.ttf') format('truetype');
}
.all
{
	margin-top: 6%;
	margin-bottom: 6%;
}

body
{
	height: 100%;
	background-color: white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header
{
	box-shadow: 0px 1px 1px #1c1a19;
	position: fixed;
	left: 0; right:0; top: 0;
	z-index: 2;
	height: 200px;
	background-color: white;
}

.head_img
{
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
	border-radius: 5px;
	left: 2%;
	padding-bottom: 0px;
	position: relative;
}
.list_head
{
	padding-top: 3.2em;
}
.list_head a
{
	font-family: 'Roboto', "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	margin-right: 2%;
	font-size: 1.2em;
	margin-left: 8%;
	color: black;
} 

.list_head a:hover{color: grey;}

.content 
{ 
	height : 100%;
	min-height: 100%;
  	padding-top: 100px;
  	position: relative;
  	z-index: 1;
  	overflow: scroll; 
 }

.img_top
{
	display: block;
	width: 100%;
	position: relative;
}

.div_img_top
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #92d5d6;
	opacity: 0.9;
}

p{font-size: 1em; font-family: 'Roboto',Arial,sans-serif; }

nav
{
	margin-top: 10px;
	display: inline-block;
	width: 60%;
}

.div_list_novatrice
{
	margin-top: 7%;
}

#list_novatrice
{
	display: flex;
	justify-content: center;
}

#list_novatrice a
{
	display: block;
	margin: 3%;
	text-decoration: none;
	color: black;
	font-family: 'Roboto',Arial,sans-serif;
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    -webkit-box-shadow: #B3B3B3 8px 8px 8px;
    -moz-box-shadow: #B3B3B3 8px 8px 8px; 
    box-shadow: #B3B3B3 8px 8px 8px;
    width:50px;
    height:50px;
}

a.p1
{
	background-color: black;
}
background-color: #DCDCDC;