html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


#parallaxWrapper {
	position:relative; /* Référence aux enfants en absolute */
	width:800px; height: 800px; }

#parallaxWrapper [class*="px"] { /* Cible tous les enfants contenant la chaine "px" */
	visibility:hidden; /* Plugin feature ! (voir les explications) */
	position:absolute; }

#parallaxWrapper .pxBackground {
	top:0; left:0; bottom:0; right:0;  /* Alternative à top:0; left:0; width:100%; height:100%; */
	background:#070707 url(background.jpg) no-repeat; }

#parallaxWrapper .pxSprite {
	top:-120px; right:100px; /* Position initiale de l’élément */
	width:200px; height:200px;
	background:url(sprite.png) no-repeat; }
#parallaxWrapper .pxSprite2 {
	top:-120px; left:100px; /* Position initiale de l’élément */
	width:200px; height:200px;
	background:url(sprite2.png) no-repeat; }



#parallaxWrapper2 {
	position:relative; /* Référence aux enfants en absolute */
	width:800px; height: 800px; }

#parallaxWrapper2 [class*="px"] { /* Cible tous les enfants contenant la chaine "px" */
	visibility:hidden; /* Plugin feature ! (voir les explications) */
	position:absolute; }

#parallaxWrapper2 .pxBackground {
	top:0; left:0; bottom:0; right:0;  /* Alternative à top:0; left:0; width:100%; height:100%; */
	background:#070707 url(background.jpg) no-repeat; }

#parallaxWrapper2 .pxSprite {
	top:-120px; right:100px; /* Position initiale de l’élément */
	width:200px; height:200px;
	background:url(sprite.png) no-repeat; }
#parallaxWrapper2 .pxSprite2 {
	top:-120px; left:100px; /* Position initiale de l’élément */
	width:200px; height:200px;
	background:url(sprite2.png) no-repeat; }


#parallaxWrapper3 {
	position:relative; /* Référence aux enfants en absolute */
	width:800px; height: 800px; }

#parallaxWrapper3 [class*="px"] { /* Cible tous les enfants contenant la chaine "px" */
	visibility:hidden; /* Plugin feature ! (voir les explications) */
	position:absolute; }

#parallaxWrapper3 .pxBackground {
	top:0; left:0; bottom:0; right:0;  /* Alternative à top:0; left:0; width:100%; height:100%; */
	background:#070707 url(background.jpg) no-repeat; }

#parallaxWrapper3 .pxSprite {
	top:-120px; right:100px; /* Position initiale de l’élément */
	width:200px; height:200px;
	background:url(sprite.png) no-repeat; }
#parallaxWrapper3 .pxSprite2 {
	top:-120px; left:100px; /* Position initiale de l’élément */
	width:200px; height:200px;
	background:url(sprite2.png) no-repeat; }


.main 
{
	overflow: hidden;
	padding-top: 150px;
	position: relative;
	z-index: 10;
}

.home .main 
{
	width: 3800px;
}

.home header 
{
	position: fixed;
}

.home .section 
{
	display: inline-block;
	margin: 0 40px;
}

.section
{
	display: block;
	margin: 0 40px 80px;
	position: relative;
	vertical-align: top;
	width: 1000px;
	z-index: 10;
	background-color: red;
}