@font-face {
	font-family: 'Futura_light';
	src : url('futura_oblique.ttf'); format('truetype');
}

#menu img{
	margin: 0;
    height: 60px;
    width: auto;
}
#menu{
    /*height: 21px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
}
#menu li a:hover {background-color: none;}
#menu li a:active {background-color: #FFF;}
#menu .sousMenu{
    display: none;
    list-style-type: none;
    margin: 1px;
    line-height: 28px;
    font-size: 1.3em;
    padding: 0;
    font-family: 'Futura_light';
    background-color: rgba(255,255,255,0.4);
    /*opacity: 0.5;*/
    width: 180px;
    height: 250px;
    padding-left: 10%;
    padding-top: 20%;
    border: 0;
}
#menu .sousMenu li{
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#menu .sousMenu li a:link, #menu .sousMenu li a:visited{
    display: block;
    color: black;
    font-family: 'Futura_light';
    margin: 0;
    border: 0;
    text-decoration: none;
}
#menu .sousMenu li a:hover{
    background-image: none;
    font-weight: bold;
}
#menu li:hover > .sousMenu {
    display: block;
}

body{

	background: url("background.png") center fixed no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title
{
	font-size: 1.7em;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: middle; 
	width: 30%;
	position: absolute;
	top: 40%;
	margin: auto;
	left: 35%;
	right: 35%;


}

.title img
{
	opacity: 0.9;
	height: 110px;
}

.title a
{
	font-family: 'Futura_light';
	font-size: 1.0em;
	color: white;
	text-decoration: none;
	/*display: inline-block;*/
	border: 1px solid white;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 5px;
	padding-bottom: 5px;

}
.title a:hover
{
	background-color: white;
	color: black;
	border: 1px double white; /*doesnt work*/
}

#arrow a;
{
    height: 20px;
    background-color: yellow;
}