<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IDEA</title>

    <link rel="stylesheet" href="bootstrap/css/animate.css" media="screen and (min-width: 989px)">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style media="screen">
    html, body {
height: 100%;
width: 100%;
background: url(../../elem/illu-idea.jpg) no-repeat;
background-position:top;
margin: 0;
padding: 0;
}

    </style>
  </head>
  <body>
    <header id="top" class="header-idea">
      <div class="img-top">
        <a href="Home"><img src="/elem/logo.png" alt="logo Le Bénéfique"/></a>
      </div>
      <div class="text-vertical-center">
        <h1>Idée</h1>
        <p class ="wow fadeIn" data-wow-duration="5s">Le Bénéfique est né de notre volonté de faire connaître des infusions naturelles aux multiples vertus et de promouvoir un mode de cueillette traditionnel respectueux des hommes et de la nature. Ainsi, Le Bénéfique  allie à une démarche éco-responsable et la recherche de saveurs inédites.</p>
        <br>
      </div>
    </header>
    <div class="organic container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0"><img src="/elem/photo-1-idea.jpg" alt="organic infusions"/></div>
          <div class="wow slideInUp" data-wow-duration="3s" style="height:200px">
            <h2 class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2"> LA CUEILLETTE</h2>
            <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2"> La cueillette sauvage est effectuée dans des espaces où la végétation profite d’un climat exceptionnel. La qualité des plantes qui y poussent est unique. </p>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
    <div class="col-xs-12 col-md-1"> <div style="background-color:blue"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:yellow"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:red"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:green"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:blue"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:yellow"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:red"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:green"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:blue"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:yellow"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:red"> 1</div></div>
    <div class="col-xs-12 col-md-1"> <div style="background-color:green"> 1</div></div>
  </div>
  </div>
    <div class="taste container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1"><img src="/elem/photo-3-idea.jpg" alt="wild mountains plants"/></div>
          <div class="wow slideInUp" data-wow-duration="3s" style="height:200px">
            <h3 class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-7 col-lg-3 col-lg-offset-7"> LES TIGES</h3>
            <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7">Présentées de manière originale sous forme de tige, les plantes ne subissent aucune transformation en dehors de leur séchage afin de préserver tous leurs bienfaits. </p>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-1 col-xs-offset-6 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-6 col-lg-1 col-lg-offset-5" style="margin-bottom:-40px;top:-190px"><img src="/elem/illustration-tasse.png" alt="Tasse"/></div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script media="screen and (min-width: 989px)">
      wow = new WOW(
        {
          animateClass: 'animated',
          offset:       100,
          callback:     function(box) {
            console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
          }
        }
      );
      wow.init();
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/wow.min.js" media="screen and (min-width: 989px)"></script>
  </body>
</html>
