<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Legend</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="bootstrap/css/style-common.css"/>
    <link rel="stylesheet" href="bootstrap/css/style-legend.css"/>
    <link rel="stylesheet" href="bootstrap/css/animate.css" media="screen and (min-width: 989px)">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style media="screen">
    html, body {
height: 100%;
width: 100%;
background: url(../../elem/illu-legend.jpg) no-repeat;
background-position:top;
}
    </style>
  </head>
  <body class="paraxify">
    <header id="top" class="header-legend">
      <div class="img-top">
          <a href="Home"><img src="/elem/logo.png" alt="logo Le Bénéfique"/></a>
      </div>
      <div class="text-vertical-center">
        <h1>Légende</h1>
        <p class ="wow fadeIn" data-wow-duration="5s">Reconnues pour leurs bienfaits depuis l’Antiquité, nos plantes sont cueillies à la main par les derniers peuples nomades de Turquie, dont le savoir-faire ancestral est basé sur le respect et la connaissance des écosystèmes. En France, Le Bénéfique remet au goût du jour ces savoir-faire oubliés en travaillant en direct avec des petits producteurs sur des produits d’exception.</p>
        <br>
      </div>
    </header>
    <div class="origins container">
      <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"><img src="/elem/photo-1-legend.jpg" alt="organic infusions"/></div>
        <div class="wow slideInUp" data-wow-duration="3s"><br><br><br>
          <h2 class="col-xs-5 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-6 col-lg-4 col-lg-offset-6"> LES CUEILLEURS</h2>
          <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-6 col-lg-5 col-lg-offset-6"> Le Bénéfique s’engage depuis sa naissance à fournir des produits exceptionnels tant par leur finesse que leur qualité. Nos infusions sont l’aboutissement d’une production complètement artisanale. </p>
        </div>
      </div>
    </div>
    <div class="characters container">
      <div class="row">
        <div class="wow slideInUp" data-wow-duration="3s" style="height:50px">
          <div class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-7 col-lg-4 col-lg-offset-7"><img src="/elem/photo-2-legend.jpg" alt="Soliman"/></div>
        </div>
          <h3 class="col-xs-5 col-xs-offset-2 col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2"> LES COLLECTIONS</h3>
          <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2">En 2014, nous avons transposé en france le modèle de cueillettes des Yorüks en travaillant avec des cueilleurs français.  valorisant ainsi la transmission de savoirs-faire ancestraux.</p>
      </div>
    </div>
    <div class="soliman container">
      <div class="row">
        <div class="wow slideInLeft" data-wow-duration="3s">
          <div class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1"><img src="/elem/photo-3-legend.jpg" alt="François 1er"/></div>
        </div>
        <h4 class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-2 col-md-offset-6 col-lg-2 col-lg-offset-6"> SOLIMAN</h4>
        <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-6 col-lg-5 col-lg-offset-6">Les infusions du sultan sont cueillies à la main, de manière raisonnée par le dernier peuple nomade de Turquie. Les villageois perpétuent ainsi leur mode de vie traditionnel et protège la biodiversité des régions concernés.</p>
      </div>
    </div>
    <div class="francois container">
      <div class="row">
        <h5 class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1"> FRANCOIS I<sup>er</sup></h5>
        <p class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">Les infusions dites du Roi François 1er sont cueillies en France. Nos plantes poussent naturellement dans les montagnes des Vosges et sont elles aussi issues de la cueillette sauvage.</p>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-1 col-xs-offset-6 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-6 col-lg-1 col-lg-offset-5" style="bottom:130px; margin-top:100px"><img src="/elem/illustration-tasse.png" alt="Tasse"/></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/wow.min.js" media="screen and (min-width: 989px)"></script>
    <script media="screen and (min-width: 989px)">
      wow = new WOW(
        {
          animateClass: 'animated',
          offset:       100,
          callback:     function(box) {
            console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
          }
        }
      );
      wow.init();
    </script>
  </body>
</html>
