/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";




.line-menu {
z-index: 10;
display: list-item;
background-color: #b6a083;
height: 1px;
width: 30px;
font-size: 1px;
padding: 1px;
color: white;
margin-right: 5px;
margin-left: 15px;
margin-top: 10px;
opacity: .7;
}

.class-menu{
position: relative;
z-index: 10;
display: block;
margin-top: 50px;
margin-left: 30px;
}

li:hover .class-menu > .elem-one{
animation: lag-down 0.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes lag-down {
  0% {
transform: rotate(0);
  }
  100% {
		-webkit-transform: translateY(13px);
transform: translateY(13px);

  }
}

li:hover .class-menu > .elem-three{
animation: lag-up 0.2s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode: forwards;
}

@keyframes lag-up {
  0% {
transform: rotate(0);
  }
  100% {
		-webkit-transform: translateY(-13px);
transform: translateY(-13px);
  }
}

#menu{
    /*height: 21px;*/
list-style-type: none;
margin: 0;
padding: 0;
border: 0;
position: absolute;
}
#menu li a:hover {background-color: none;}
#menu .sousMenu{
position: absolute;
top: 0px;
z-index: 1;
display: none;
list-style-type: none;
margin: 1px;
line-height: 1.8;
font-size: 1.5em;
font-family: DidotBoldItalic;
background-color: rgba(255,255,255,0.9);
    /*opacity: 0.5;*/
width: 290px;
height: 690px;
padding-left: 50px;
padding-top: 110px;
border: 0;
}
#menu .sousMenu li{
float: none;
margin: 0;
padding: 0;
border: 0;
}
#menu .sousMenu li a:link, #menu .sousMenu li a:visited{
display: block;
color: black;
font-family: 'Futura_light';
margin: 0;
border: 0;
text-decoration: none;
}
#menu .sousMenu li a:hover{
background-image: none;
color: #b6a083;
}
#menu li:hover > .sousMenu {
display: block;
}

.menu-button{
margin-top: 27px;
}

  [class*="col-"], footer {
text-align: center;
}

.depot_form{
	fieldset{
		background: #efe;
	legend{
		color: #dfd;
		background: #141;
		padding: 0.2em 1em;
	}
}

form{
	label{
		width: 5em;
		float: left;
		text-align: right;
		padding-top: 0.2em;
		margin-right: 0.1em;
		display: block;
	}

	select, textarea, input{
		margin-left: 4em;
	}

	.submit{
		margin-left: 4em;
	}

	br{
		display: none;
	}
}
}
