// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-count-link{
  position: fixed;
  right: 2%;
  top: 3%;
}

.cart-count-store{
  position: relative;
  right: 11%;
  top: 5%;
}

.panier-header-store{
  position: absolute;
  right: 10%;
  top: 10%;
}

.logo_img{
  position: relative;
  top: 55px;
  left: -50px;
  max-width: 250px;
}

 .title{
   display: block;
  top: 100px;
}

.img_tasse{
  top: 100px;
  left : -60px;
  max-width: 110px;
}

h1{
  text-align: center;
  z-index: 3;
  display: block;
  left: -50px;
top : 190px;
}

.img_back{
  z-index: 1;
  top: 170px;
  left : 0;
}

.illu_front{

  top: -410px;
  z-index: 2;
}

p.txt_soli{
  color: white;
  z-index: 2;
  top: -760px;
}

.soli{
  background-color: blue;
}

.entry{
  background-color: yellow;
  margin: 0;
  padding: 0;
  top : -200px;
  text-align: left;
}

.product_img{
  margin-right: 0;
  padding: 0;
  background-color: red;
  display: block;
  position: relative;
  width: 100%;
}

.the_img{
  margin: 0;
  padding: 0;
  background-color: blue;
    width: 15vw;
    max-width: 250px;
}

.the_img:hover + .discover{
  display: block;
}

.the_img + .discover:hover{
  display: block;
  color: black;

}

.the_img:hover{
  opacity: 0.3;
}

.prod{
  background-color: black;
  margin-right : 10px;
  margin-left: 10px;
}

.discover {
  display: none;
  position: absolute;
  top: 5vw;
  left: 2.5vw;
  color: black;
  font-size: 1.2vw;
  border-style: solid;
  border-width: 2px;
}

.line_title{
  position: relative;
}

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -40px -30px 0 0;
}
/*--Gérer la position fixed pour IE6--*/

a:hover{
  background-color: none;
}
